*{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
   background-image: url(baiklah.jpg);
   padding:1em 0;
   width:100%;
}
body{
   background-image: url("prioritas.jpg");
   h1{
   text-align: center;
   font-size: x-large;
}


}
  